<app-mainheader></app-mainheader>
<div class="head">
  <div class="navbar">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        Mechanical
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/detail']" (click)="clearSession()">HVAC Fans</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{item.model}}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="subtitle">
    <img class="imgPro" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          Mechanical
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          HVAC Fans
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          {{item.model}}
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
<!--    <div class="specification">Past specification</div>-->
    <button class="btn">Add to</button>
  </div>
</div>
<nz-anchor [nzContainer]="scrollContainer">
  <div class="nav">
    <nz-link nzHref="#Product-Summary" nzTitle="Product Summary"></nz-link>
    <nz-link nzHref="#Product-Details" nzTitle="Product Details"></nz-link>
    <nz-link nzHref="#Product-Documentation" nzTitle="Product Documentation"></nz-link>
    <nz-link nzHref="#contact" nzTitle="Contact"></nz-link>
  </div>
</nz-anchor>
<div id="sc-container" class="scrollable-container">
  <div class="background">
    <p id="Product-Summary">Product Summary</p>
    <div class="summary">
      <div>
        <nz-descriptions nzTitle="DESCRIPTION" nzBordered>
          <nz-descriptions-item nzTitle="Manufacturer" [nzSpan]="3">{{item.manufacturer}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Series Mode" [nzSpan]="3">H{{item.series}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Automatic Renewal"[nzSpan]="3">{{item.model}}</nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions nzTitle="TYPE" nzBordered>
          <nz-descriptions-item nzTitle="Use Type" [nzSpan]="3">{{item.type}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Application" [nzSpan]="3">{{item.application}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Mounting Location" [nzSpan]="3">{{item.mountingLocation}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Accessories" [nzSpan]="3">{{item.accessories}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Model year" [nzSpan]="3">{{item.modelYear}}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div>
        <nz-descriptions nzTitle="TECHNICAL SPECIFICATION" nzBordered>
          <nz-descriptions-item nzTitle="Airflow(CFM)" [nzSpan]="3">{{item.airflow}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Power(W)" [nzSpan]="3">{{item.mountingLocation}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Operating voltage (VAC)" [nzSpan]="3">{{item.operatingVoltageMax}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Fan speed (RPM)" [nzSpan]="3">{{item.fanSpeedMax}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Number of fan speeds" [nzSpan]="3">{{item.numberOfFanSpeeds}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Sound at max speed (dBA)" [nzSpan]="3">{{item.soundAtMaxSpeed}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Fan sweep diameters" [nzSpan]="3">{{item.fanSweepDiameter}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Height" [nzSpan]="3">Roof</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Weight" [nzSpan]="3">{{item.weight}}</nz-descriptions-item>
        </nz-descriptions>
      </div>
    </div>
    <p id="Product-Documentation">Product Documentation</p>
    <div class="iconGroup">
      <div class="imgGrop">
        <a href="	https://storage.cloud.google.com/wliu-bucket/CSI%20.docx?folder&organizationId">
          <img class="imgIcon" src="assets/images/word.png">
        </a>
        <p>CSI -Three Part Specification</p>
      </div>
      <div class="imgGrop">
        <a>
          <img class="imgIcon" src="assets/images/pdf.png">
        </a>
        <p>Submittal (PDF)</p>
      </div>
      <div class="imgGrop">
        <a>
          <img class="imgIcon" src="assets/images/word.png">
        </a>
        <p>Control Option</p>
      </div >
      <div class="imgGrop">
        <a>
          <img class="imgIcon" src="assets/images/pdf.png">
        </a>
        <p>Plan Views</p>
      </div>
    </div>

    <p id="Product-Details">Product Details</p>
    <div class="list">

      <nz-list
        [nzDataSource]=data
        nzBordered
        nzSize="small"
        [nzRenderItem]="smallItem"
      >
        <ng-template #smallItem let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
      </nz-list>
    </div>
    <div>
      <p id="contact">Contact</p>
      <div class="contact">
        <nz-descriptions nzTitle="SALES REPRESENTATIVE" nzBordered>
          <nz-descriptions-item nzTitle="Name" [nzSpan]="3">Marty McFly</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Phone" [nzSpan]="3">+1 650 889 6222</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Email" [nzSpan]="3">marty@mcfly.com</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Web" [nzSpan]="3">http://www.test.com</nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions nzTitle="MANUFACTURER" nzBordered>
          <nz-descriptions-item nzTitle="Department" [nzSpan]="3">Technical Support</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Phone" [nzSpan]="3">+1 800 466 8200</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Email" [nzSpan]="3">techsupport@bigass.com</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Web" [nzSpan]="3">http://www.bigassfans.com</nz-descriptions-item>
        </nz-descriptions>
      </div>
    </div>
  </div>
</div>
