<img src="assets/images/logo.png">

<div class="searchBar">
  <nz-select [ngModel]="'Zhejiang'">
    <nz-option [nzLabel]="'Zhejiang'" [nzValue]="'Zhejiang'"></nz-option>
    <nz-option [nzLabel]="'Jiangsu'" [nzValue]="'Jiangsu'"></nz-option>
  </nz-select>
  <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixIconSearch">
    <nz-select class="searchInput"
               nzShowSearch
               nzServerSearch
               nzPlaceHolder="input search text"
               [(ngModel)]="selectedValue"
               [nzShowArrow]="false"
               [nzFilterOption]="nzFilterOption"
               (nzOnSearch)="search($event)"
    >
      <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
    </nz-select>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
</div>
