:host{
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  align-items: center;
  background-image: linear-gradient(#4AADE5,#FFFFFF);
}

img{
  height: 40px;
  margin-bottom: 20px;
}


nz-input-group{
  width: 500px;
}

.searchBar{
  display: flex;
  flex-direction: row;
  margin-left: 350px;
  margin-bottom: 20px;
}
.searchInput{
  width: 500px;
}
.logout{
  flex-grow: 1;
  align-self: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: right;
  padding-right: 30px;
  font-size: 1.7em;
  font-weight: bold;
}
