<img src="assets/images/logo.png">
<div class="searchBar">
  <nz-select [ngModel]="'HVAC Fans'">
    <nz-option [nzLabel]="'HVAC Fans'" [nzValue]="'HVAC Fans'"></nz-option>
    <nz-option *ngFor="let item of products" [nzLabel]="'Something'" [nzValue]="'Something'"></nz-option>
  </nz-select>
  <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixIconSearch">
    <nz-select class="searchInput"
               nzShowSearch
               nzServerSearch
               nzPlaceHolder="input search text"
               [(ngModel)]="selectedValue"
               [nzShowArrow]="false"
               [nzFilterOption]="nzFilterOption"
               (nzOnSearch)="search($event)"
    >
      <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"> </nz-option>
    </nz-select>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <i nz-icon nzType="search"></i>
  </ng-template>
</div>
<div class="logout">
  <a routerLink="/login" >logout</a>
</div>

