<div class="item">
  <nz-card style="width:280px;" [nzCover]="coverTemplate" [nzActions]="[actionCheck, actionButton]">
    <div class="text">
      <div style="font-weight: bold">{{project.manufacturer}}</div>
      <div style="font-weight: bold">{{project.series}}</div>
      <div style="font-weight: bold">{{project.model}}</div>
      <div>{{project.airflow}} CFM</div>
      <div>{{project.powerMax}} at max speed</div>
      <div>{{project.fanSpeedMax}} at max speed</div>
      <div>{{project.fanSweepDiameter}}'' fan sweep diameter</div>
    </div>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" [src]="project.url" (click)="toProductPage()"/>
  </ng-template>
  <ng-template #actionCheck>
    <label nz-checkbox [(ngModel)]="checked" (nzCheckedChange)="addToCompare()">Compare</label>
  </ng-template>
  <ng-template #actionButton>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu">Add to<i nz-icon nzType="down"></i></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li *ngFor="let item of projectList" nz-menu-item>
          <a (click)="addPrductToProject(item.id)">{{item.projectName}}</a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>
</div>

