<div class="item">
  <nz-card style="width:280px;" [nzCover]="coverTemplate" [nzActions]="[actionCheck, actionButton]">
    <div class="text">
      <div>{{project.manufacturer}}</div>
      <div>{{project.series}}</div>
      <div>{{project.model}}</div>
      <div>{{project.airflow}} CFM</div>
      <div>{{project.powerMax}} at max speed</div>
      <div>{{project.fanSpeedMax}} at max speed</div>
      <div>{{project.fanSweepDiameter}}'' fan sweep diameter</div>
    </div>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
  </ng-template>
  <ng-template #actionCheck>
    <label nz-checkbox [(ngModel)]="checked">Compare</label>
  </ng-template>
  <ng-template #actionButton>
   <button>Add to</button>
  </ng-template>
</div>

