:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  align-items: center;
  background-image: linear-gradient(#4AADE5,#FFFFFF);
}
p{
  font-size: 1.8em;

}
div{
  font-size: 1em;
  color: crimson;
}
image{
  margin-top: 200px;
}

input {
  width: 400px;
  height: 2em;
  margin-top: 20px;
  font-size: 1em;
  padding-left: .4em;
  display: block;
  border-radius: 4px;
  border-width: 1px;
}

button {
  margin-top: 20px;
  margin-left: 300px;
  font-family: Arial;
  height: 28px;
  width: 100px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
