<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Product Type" nzOpen>
    <ul>
      <li class="yearsSelector">
        <span>Model year:</span>
        <nz-input-number [(ngModel)]="startYear" [nzSize]="'small'" [nzMin]="1900" [nzMax]="2300" [nzStep]="1"></nz-input-number>
        <p style="margin-top: 15px">---</p>
        <nz-input-number [(ngModel)]="endYear" [nzSize]="'small'" [nzMin]="1900" [nzMax]="2300" [nzStep]="1"></nz-input-number>
      </li>

    </ul>
  </li>
  <li nz-submenu nzTitle="Technical Specifications" nzOpen>
    <ul>
      <li *ngFor="let item of ts">
        <div>
          <nz-row>
            <nz-col>
              <div class="description">{{item.filterName}}</div>
            </nz-col>
          </nz-row>
        </div>
        <div>
          <nz-row class="container">
            <nz-col nzSpan="3">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginRight: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="0.01"
                               [(ngModel)]="item.filterRange[0]"
              ></nz-input-number>
            </nz-col>
            <nz-col nzSpan="10" nzPush="4">
              <nz-slider [nzMin]="item.min" [nzMax]="item.max" [nzStep]="1" [(ngModel)]="item.filterRange" nzRange></nz-slider>
            </nz-col>
            <nz-col nzSpan="3" nzPush="4">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginLeft: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="100"
                               [(ngModel)]="item.filterRange[1]"
              ></nz-input-number>
            </nz-col>
          </nz-row>
        </div>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Brand">
    <ul>
      <li nz-menu-item>Option 11</li>
      <li nz-menu-item>Option 12</li>
      <li nz-menu-item>Option 13</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Past Selections">
    <ul>
      <li *ngFor="let item of ps">
        <div>
          <nz-row>
            <nz-col>
              <div class="description">{{item.filterName}}</div>
            </nz-col>
          </nz-row>
        </div>
        <div>
          <nz-row>
            <nz-col nzSpan="3">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginRight: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="0.01"
                               [(ngModel)]="item.filterRange[0]"
              ></nz-input-number>
            </nz-col>
            <nz-col nzSpan="10" nzPush="4">
              <nz-slider [nzMin]="item.min" [nzMax]="item.max" [nzStep]="1" [(ngModel)]="item.filterRange" nzRange></nz-slider>
            </nz-col>
            <nz-col nzSpan="3" nzPush="4">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginLeft: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="100"
                               [(ngModel)]="item.filterRange[1]"
              ></nz-input-number>
            </nz-col>
          </nz-row>
        </div>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Certification">
    <ul>
      <li nz-menu-item>Option 11</li>
      <li nz-menu-item>Option 12</li>
      <li nz-menu-item>Option 13</li>
    </ul>
  </li>
</ul>
