<div *ngIf="radioValue=='Product'" class="bubble">
  <label>Search:</label>
  <button nz-button nzType="primary"  (click)="showModal()">Search</button>
  <button nz-button nzType="primary" nzDanger (click)="reset()">Clear</button>
  <i class="compare" nz-icon nzType="eye" nzTheme="twotone" (click)="navigateToCompare()"></i>
</div>
<div *ngIf="radioValue=='Project'" class="bubble">
  <label>Manipulate:</label>
  <button nz-button nzType="primary"  (click)="addProject()">Add</button>
  <button nz-button nzType="primary" nzDanger (click)="deleteAll()">Delete</button>
</div>
<nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid" nzSize="small" nzButtonStyle = solid>
  <label nz-radio-button nzValue="Product">Product</label>
  <label nz-radio-button nzValue="Project">Project</label>
</nz-radio-group>
<ul *ngIf="radioValue =='Project'" nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Project List">
    <ul>
      <li *ngFor="let item of projectList let key = index" nz-menu-item (click)="loading(item, item.id)">
        <div *ngIf="!editState[key]" style="display: inline; width: 100px">{{item.projectName}}</div>
        <input *ngIf="editState[key]" [(ngModel)]="projectList[key].projectName" style="border: none; background: #E6F7FF">
        <i class="iconE" (click)="editPro(key)" nz-icon nzType="edit" nzTheme="outline"></i>
        <i class="iconD" (click)="deleteProject(key)" nz-icon nzType="delete" nzTheme="outline"></i>
      </li>
    </ul>
  </li>
</ul>
<ul *ngIf="radioValue=='Product'" nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Product type">
    <ul>
      <li nz-menu-item>
        <label>User Type</label>
      </li>
      <li nz-menu-item>
        <label>Application</label>
      </li>
      <li nz-menu-item>
        <label>Mounting Location</label>
      </li>
      <li nz-menu-item>
        <label>Accessories</label>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Model year" nzOpen>
    <ul>
      <li class="yearsSelector">
        <span>Model year:</span>
        <nz-input-number [(ngModel)]="startYear" [nzSize]="'small'" [nzMin]="1900" [nzMax]="2300" [nzStep]="1"></nz-input-number>
        <p style="margin-top: 15px">---</p>
        <nz-input-number [(ngModel)]="endYear" [nzSize]="'small'" [nzMin]="1900" [nzMax]="2300" [nzStep]="1"></nz-input-number>
      </li>

    </ul>
  </li>
  <li nz-submenu nzTitle="Technical Specifications" nzOpen>
    <ul>
      <li *ngFor="let item of ts">
        <div>
          <nz-row>
            <nz-col>
              <div class="description">{{item.filterName}}</div>
            </nz-col>
          </nz-row>
        </div>
        <div>
          <nz-row class="container">
            <nz-col nzSpan="3">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginRight: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="0.1"
                               [(ngModel)]="item.filterRange[0]"
              ></nz-input-number>
            </nz-col>
            <nz-col nzSpan="10" nzPush="4">
              <nz-slider [nzMin]="item.min" [nzMax]="item.max" [nzStep]="1" [(ngModel)]="item.filterRange" nzRange></nz-slider>
            </nz-col>
            <nz-col nzSpan="3" nzPush="4">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginLeft: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="0.1"
                               [(ngModel)]="item.filterRange[1]"
              ></nz-input-number>
            </nz-col>
          </nz-row>
        </div>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Brand">
    <ul>
      <li nz-menu-item>
        <label>User Type</label>
      </li>
      <li nz-menu-item>
        <label>Application</label>
      </li>
      <li nz-menu-item>
        <label>Mounting Location</label>
      </li>
      <li nz-menu-item>
        <label>Accessories</label>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Past Selections" nzOpen>
    <ul>
      <li *ngFor="let item of ps">
        <div>
          <nz-row>
            <nz-col>
              <div class="description">{{item.filterName}}</div>
            </nz-col>
          </nz-row>
        </div>
        <div>
          <nz-row>
            <nz-col nzSpan="3">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginRight: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="0.01"
                               [(ngModel)]="item.filterRange[0]"
              ></nz-input-number>
            </nz-col>
            <nz-col nzSpan="10" nzPush="4">
              <nz-slider [nzMin]="item.min" [nzMax]="item.max" [nzStep]="1" [(ngModel)]="item.filterRange" nzRange></nz-slider>
            </nz-col>
            <nz-col nzSpan="3" nzPush="4">
              <nz-input-number class="sliderInput"
                               [ngStyle]="{ marginLeft: '5px' }"
                               [nzSize]="'small'"
                               [nzStep]="0.1"
                               [(ngModel)]="item.filterRange[1]"
              ></nz-input-number>
            </nz-col>
          </nz-row>
        </div>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Certification">
    <ul>
      <li nz-menu-item>Option 11</li>
      <li nz-menu-item>Option 12</li>
      <li nz-menu-item>Option 13</li>
    </ul>
  </li>
</ul>


<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  nzWidth="700px"
>
  <ng-template #modalTitle>
    Find fans
  </ng-template>

  <ng-template #modalContent>
    <div class="des">type</div>
    <label class="bubbleLable">User Type</label>
    <nz-radio-group [(ngModel)]="radioType">
      <label class="bubbleRadio" nz-radio nzValue="Commercial">Commercial</label>
      <label class="bubbleRadio"nz-radio nzValue="Industrial">Industrial</label>
      <label class="bubbleRadio"nz-radio nzValue="Residential">Residential</label>
    </nz-radio-group>
    <br>
    <label class="bubbleLable">Application</label>
    <nz-radio-group [(ngModel)]="radioApp">
      <label class="bubbleRadio"nz-radio nzValue="Indoor">Indoor</label>
      <label class="bubbleRadio"nz-radio nzValue="OutDoor">OutDoor</label>
    </nz-radio-group>
    <br>
    <label class="bubbleLable">Mounting Location</label>
    <nz-radio-group [(ngModel)]="radioML">
      <label class="bubbleRadio"nz-radio nzValue="Roof">Roof</label>
      <label class="bubbleRadio"nz-radio nzValue="Wall">Wall</label>
      <label class="bubbleRadio"nz-radio nzValue="Free Standing">Free Standing</label>
    </nz-radio-group>
    <br>
    <label class="bubbleLable">Accessories</label>
    <nz-radio-group [(ngModel)]="radioAcc">
    <label class="bubbleRadio"nz-radio nzValue="With light">With light</label>
    <label class="bubbleRadio"nz-radio nzValue="With out light">With out light</label>
    </nz-radio-group>
    <br>
    <label class="bubbleOther">Model year</label>
    <nz-input-number style="margin-left: 100px" [(ngModel)]="startYear" [nzSize]="'small'" [nzMin]="1900" [nzMax]="2300" [nzStep]="1"></nz-input-number>
    <span>——</span>
    <nz-input-number [(ngModel)]="endYear" [nzSize]="'small'" [nzMin]="1900" [nzMax]="2300" [nzStep]="1"></nz-input-number>
    <br>
    <div class="des">Technical Details</div>
    <ul style="list-style: none; padding: 0px; margin: 0px">
      <li *ngFor="let item of ts">
        <label class="bubbleOther">{{item.filterName}}</label>
        <nz-input-number style="margin-left: 100px" [(ngModel)]="item.filterRange[0]" [nzSize]="'small'" [nzMin]="item.min" [nzMax]="item.max" [nzStep]="1"></nz-input-number>
        <span>——</span>
        <nz-input-number [(ngModel)]="item.filterRange[1]" [nzSize]="'small'" [nzMin]="item.min" [nzMax]="item.max" [nzStep]="1"></nz-input-number>
      </li>
    </ul>
    <br>
    <div class="des">Brand</div>
    <label class="bubbleOther">Select Brand</label>      <br>
    <div class="des">Other</div>
    <label class="bubbleOther">With the words</label>      <br>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Search</button>
  </ng-template>
</nz-modal>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="{{currentOrder}}" (nzOnClose)="close()">
  <p *ngFor="let item of currentOrderItem"><i nz-icon nzType="minus-square" nzTheme="twotone"></i>  {{item.product.series}}</p>

</nz-drawer>
